.feedback{
    padding-top: 120px;
    padding-bottom: 120px;
    &__slider{
        position: relative;
    }
    &__item{
        cursor: pointer;
        max-width: 360px !important;
        height: 273px;
        background-color: #f7fafc;
        padding-top: 40px;
        &_active{
            filter: drop-shadow(0px 10px 15px rgba(0,0,0,0.1));
            background-color: #ffffff;
        }
        &:hover{
            filter: drop-shadow(0px 10px 15px rgba(0,0,0,0.1));
            background-color: #ffffff;
        }
    }
    &__paragraph{
        width: 276px;
        font-size: 14px;
        line-height: 24px;
        color: #777777;
        font-family: "Roboto";
        font-weight: 300;
        margin-left: 35px;
    }
    &__info{
        margin-top: 20px;
        position: relative;
        min-height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p{
            margin-left: 135px;
            margin-bottom: 0;
        }
    }
    &__icon{
        width: 80px;
        height: 80px;
        border-radius: 40px;
        position: absolute;
        left: 35px;
        &_alexa{
            background-image: url('../../image/feedback/alexa.png');
            background-position-x: -26px;
            background-position-y: -10px;
        }
        &_gary{
            background-image: url('../../image/feedback/gary.png');
            background-position-x: -40px;
            background-position-y: -16px;
        }
        &_samantha{
            background-image: url('../../image/feedback/samantha.png');
            background-position-x: -121px;
            background-position-y: -51px;
        }
    }
    &__name{
        font-size: 18px;
        line-height: 24px;
        color: #222222;
        font-family: "Dosis";
        font-weight: 400;
    }
    &__company{
        font-size: 14px;
        line-height: 24px;
        color: #777777;
        font-family: "Roboto";
        font-weight: 300;
    }
    &__arrow{
        position: absolute;
        top: 45%;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #ffffff;
        border: 1px solid #eeeeee;
        cursor: pointer;
        &_prev{
            left: -80px;
            div{
                background-image: url('../../image/feedback/prev-arrow.png');
                width: 14px;
                height: 7px;
                position: absolute;
                z-index: 15;
                top: 16px;
                left: 13px;
            }
        }
        &_next{
            right: -80px;
            div{
                background-image: url('../../image/feedback/next-arrow.png');
                width: 14px;
                height: 7px;
                position: absolute;
                z-index: 15;
                top: 16px;
                left: 13px;
            }
        }
        &_active{
            &::after{
                filter: drop-shadow(0px 5px 10px rgba(0,0,0,0.1));
                background-image: linear-gradient(90deg, #fd712b 0%, #f21680 100%);
                width: 97%;
                height: 97%;
                margin-left: 3%;
                margin-top: 3%;
                content: '';
                display: block;
                border-radius: 20px;
                background-size: cover;
            }
        }
    }
}