.feedback{
    &__slider{
        position: relative;
    }
    &__item{
        cursor: pointer;
        max-width: 360px !important;
        height: 273px;
        background-color: #f7fafc;
        padding-top: 40px;
        &_active{
            filter: drop-shadow(0px 10px 15px rgba(0,0,0,0.1));
            background-color: #ffffff;
        }
        &:hover{
            filter: drop-shadow(0px 10px 15px rgba(0,0,0,0.1));
            background-color: #ffffff;
        }
    }
    &__paragraph{
        width: 276px;
        font-size: 14px;
        line-height: 24px;
        color: #777777;
        font-family: "Roboto";
        font-weight: 300;
        margin-left: 35px;
    }
    &__info{
        margin-top: 20px;
        position: relative;
        min-height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p{
            margin-left: 135px;
            margin-bottom: 0;
        }
    }
    &__icon{
        width: 80px;
        height: 80px;
        border-radius: 40px;
        position: absolute;
        left: 35px;
        &_alexa{
            background-image: url('../../image/feedback/alexa.png');
            background-position-x: -26px;
            background-position-y: -10px;
        }
        &_gary{
            background-image: url('../../image/feedback/gary.png');
            background-position-x: -40px;
            background-position-y: -16px;
        }
        &_samantha{
            background-image: url('../../image/feedback/samantha.png');
            background-position-x: -121px;
            background-position-y: -51px;
        }
    }
    &__name{
        font-size: 18px;
        line-height: 24px;
        color: #222222;
        font-family: "Dosis";
        font-weight: 400;
    }
    &__company{
        font-size: 14px;
        line-height: 24px;
        color: #777777;
        font-family: "Roboto";
        font-weight: 300;
    }
    &__arrow{
        &_prev{
            left: -80px;
        }
        &_next{
            right: -80px;
        }
    }
}

@media (max-width: 1350px){
    .feedback{
        &__slider{
            max-width: 1050px;
            margin: auto !important;
        }
        &__item{
            max-width: 300px !important;
            // height: 315px;
        }
        &__paragraph{
            width: 255px;
            margin-left: 15px;
        }
        &__icon{
            left: 15px;
        }
        &__info{
            p{
                margin-left: 115px;
            }
        }
    }
}

@media (max-width: 1200px){
    .feedback{
        &__slider{
            max-width: 860px;
        }
        &__item{
            max-width: 270px !important;
        }
        &__paragraph{
            width: 225px;
            font-size: 12px;
            line-height: 20px;
        }
        &__icon{
            width: 60px;
            height: 60px;
            background-size: cover;
            &_alexa{
                background-position-x: -13px;
                background-position-y: 0px;
            }
            &_gary{
                background-position-x: -13px;
                background-position-y: 0px;
            }
            &_samantha{
                background-position-x: 0px;
                background-position-y: 0px;
            }

        }
        &__info{
            p{
                margin-left: 90px;
            }
        }
        &__arrow{
            &_prev{
                left: -55px;
            }
            &_next{
                right: -55px;
            }
        }
    }
}

@media (max-width:992px){
    .feedback{
        &__slider{
            max-width: 600px
        }
        &__item{
            &:nth-child(4){
                display: none;
            }
        }
    }
}

@media (max-width: 768px){
    .feedback{
        &__item{
            margin: auto;
            &:nth-child(2){
                display: none;
            }
        }
        &__arrow{
            &_prev{
                left: 50px;
            }
            &_next{
                right: 50px;
            }
        }
    }
}