.footer{
    background-color: #222222;
    padding-top: 55px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__icons{
        width: 155px;
        display: flex;
        justify-content: space-between;
        height: 16px;
        align-items: flex-start;
    }
    &__social{
        &_facebook{
            height: 16px;
        }
    }
    &__label{
        display: block;
        margin-top: 30px;
        font-size: 14px;
        line-height: 24px;
        color: #ffffff;
        font-family: "Roboto";
        font-weight: 300;
        text-align: center;
    }
}