.navbar{
    &__container{
        width: 100%;
    }
    &__logo{
        min-height: 36px;
    }
    &__links{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link{
        font-size: 14px;
        line-height: 24px;
        color: #ffffff;
        font-family: "Roboto";
        font-weight: 400;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        &:hover{
            width: 50%;
            background: #ffffff;
            border-radius: 17px;
            color: #222222;
            text-decoration: none;
        }
        &_features{
            max-width: 18% !important;
        }
        &_pricing{
            max-width: 18% !important;
        }
        &_download{
            background: #ffffff;
            border-radius: 17px;
            color: #222222;
        }
    }
}

@media (max-width: 992px){
    .navbar{
        &__link{
            &_home{
                max-width: 17%;
            }
            &_download{
                max-width: 29%;
            }
        }
    }
}

@media (max-width: 768px){
    .navbar{
        &__logo{
            display: none;
        }
    }
}