.packages{
    &__item{
        background-color: #f7fafc;
        max-width: 22% !important;
        min-height: 480px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 40px;
        cursor: pointer;
        &_active{
            filter: drop-shadow(0px 10px 15px rgba(0,0,0,0.1));
            background-color: #ffffff;
        }
    }
    &__label{
        display: block;
        width: 100%;
        font-size: 20px;
        line-height: 24px;
        color: #333333;
        font-family: "Dosis";
        font-weight: 400;
        text-align: center;
        height: 47px;
        padding-top: 10px;
    }
    &__cost{
        background-image: url('../../image/packages/package-item.png');
        min-height: 120px;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        &_active{
            height: 120px;
            background-image: url('../../image/packages/package-item-active.png');
        }
    }
    span{
        display: block;
    }
    &__price{
        font-size: 39px;
        line-height: 24px;
        color: #333333;
        font-family: "Dosis";
        font-weight: 500;
        text-align: center;
        margin-top: 25px;
        &_symbol{
            margin-top: 19px;
        }
        &_active{
            color: #fff;
        }
    }
    &__info{
        border-bottom: 1px dashed #eeeeee;
        width: 80%;
        margin: auto;
        text-align: center;
        margin-bottom: 10px;
        height: 32px;
        &_last{
            border-bottom: none;
        }
    }
    &__free{
        margin-top: 40px;
        font-size: 14px;
        line-height: 24px;
        color: #aaaaaa;
        font-family: "Roboto";
        font-weight: 300;
        text-align: center;
    }
    &__button{
        font-size: 14px;
        line-height: 24px;
        color: #333333;
        font-family: "Roboto";
        font-weight: 500;
        text-align: center;
        width: 139px;
        height: 40px;
        border-radius: 20px;
        background-color: #ffffff;
        border: 1px solid #eeeeee;
        display: block;
        margin: auto;
        cursor: pointer;
        outline: none !important;
        &:active &:focus{
            outline: none !important;
        }
        &:hover{
            background-color: darken($color: #fff, $amount: 15);
        }
        &_active{
            filter: drop-shadow(0px 5px 10px rgba(0,0,0,0.1));
            background-image: linear-gradient(90deg, #fd712b 0%, #f21680 100%);
            position: relative;
            &::after{
                border: 3px solid rgba(0,0,0,0.1);
                position: absolute;
                display: block;
                content: '';
                width: 105%;
                height: 117%;
                top: -3px;
                left: -3px;
                border-radius: 20px;

            }
        }
    }
}


@media (max-width: 1200px){
    .packages{
        &__cost{
            background-position-x: -25px;
        }
    }
}

@media (max-width: 992px){
    .packages{
        &__offer{
            height: 1100px;
        }
        &__item{
            max-width: 50% !important;
            min-height: 310px;
            max-height: 520px;
        }
        &__cost{
            background-position-x: 0px;
            background-position-y: -23px;
            background-size: cover;
        }
    }
}

@media (max-width:768px){
    .packages{
        &__cost{
            background-position-x: -6px;
            background-position-y: 0px;
        }
    }
}

@media (max-width:576px){
    .packages{
        min-height: 2480px;
        &__item{
            max-width: 56% !important;
            margin: auto;
            max-height: 600px;
            margin-bottom: 35px;
        }
        &__cost{
            background-color: #fff;
            background-image: none;
            &_active{
                background-image: linear-gradient(90deg, #fd712b 0%, #f21680 100%);
                background-position-x: 0px;
                background-position-y: 25px;
            }
        }
        &__price{
            font-size: 30px;
            margin-top: 22px;
        }
        &__info{
            font-size: 14px;
        }
    }
}