.screenshots{
    padding-top: 120px;
    background-color: #f7fafc;
    padding-bottom: 85px;
    &__image{
        width: 80%;
        margin: auto;
        display: block;
        margin-top: 85px;
    }
}