.screenshots{
    background-color: #f7fafc;
    padding-bottom: 85px;
    &__slider{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    &__item{
        filter: drop-shadow(0px 30px 20px rgba(0,0,0,0.1));
        cursor: pointer;
        &_first{
            z-index: 4;
        }
        &_second{
            max-width: 28%;
            margin-left: -170px;
            margin-right: -155px;
        }
        &_fifth{
            max-width: 28%;
            margin-right: -170px;
            margin-left: -155px;
            z-index: 3;
        }
        &_third{
            max-width: 26%;
            margin-left: -170px;
        }
        &_sixth{
            max-width: 26%;
            margin-right: -170px;
            z-index: 2;
        }
        &_forth, &_seventh {
            max-width: 24%;
        }
    }
    &__arrow{
        &_prev{
            left: -85px;
        }
        &_next{
            right: -85px;
        }
    }
}

@media (max-width: 1350px){
    .screenshots{
        &__slider{
            max-width: 1050px;
        }
    }
}

@media (max-width: 1200px){
    .screenshots{
        &__slider{
            max-width: 850px;
            margin: auto;
        }
        &__item{
            &_first{
                max-width: 30%;
            }
        }
        &__arrow{
            &_prev{
                left: 60px;
            }
            &_next{
                right: 60px;
            }
        }
    }
}

@media (max-width: 768px){
    .screenshots{
        &__item{
            &_first{
                max-width: 36%;
            }
            &_third{
                max-width: 26%;
                margin-left: -210px;
            }
            &_sixth{
                max-width: 26%;
                margin-right: -210px;
            }
        }
    }
}

@media (max-width: 540px){
    .screenshots{
        &__item{
            &_second, &_fifth, &_third, &_forth, &_sixth, &_seventh{
                display: none;
            }
        }
    }
}