.container{
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.section{
    padding-top: 120px;
    padding-bottom: 120px;
    &__title{
        font-size: 36px;
        line-height: 30px;
        color: #222222;
        font-family: "Dosis";
        font-weight: 500;
        text-align: center;
        margin-bottom: 30px;
    }
    &__subtitle{
        margin: auto;
        width: 669px;
        height: 37px;
        font-size: 14px;
        line-height: 24px;
        color: #777777;
        font-family: "Roboto";
        font-weight: 300;
        text-align: center;
        margin-bottom: 85px;
    }
}

.slider{
    &__arrow{
        position: absolute;
        top: 45%;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #ffffff;
        border: 1px solid #eeeeee;
        cursor: pointer;
        &_prev{
            div{
                background-image: url('../../image/feedback/prev-arrow.png');
                width: 14px;
                height: 7px;
                position: absolute;
                z-index: 15;
                top: 16px;
                left: 13px;
            }
        }
        &_next{
            div{
                background-image: url('../../image/feedback/next-arrow.png');
                width: 14px;
                height: 7px;
                position: absolute;
                z-index: 15;
                top: 16px;
                left: 13px;
            }
        }
        &_active{
            &::after{
                filter: drop-shadow(0px 5px 10px rgba(0,0,0,0.1));
                background-image: linear-gradient(90deg, #fd712b 0%, #f21680 100%);
                width: 97%;
                height: 97%;
                margin-left: 3%;
                margin-top: 3%;
                content: '';
                display: block;
                border-radius: 20px;
                background-size: cover;
            }
        }
    }
}


@media (max-width:992px){
    .section{
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

@media (max-width: 768px){
    .section{
        &__title{
            width: 100%;
        }
        &__subtitle{
            width: 100%;
        }
    }
}